.idea/
**/__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.venv*/

.vscode/

**/build/
**/dist/
**/**.egg-info/

*/node_modules/

*/.env

.coverage

sandbox.py
wep_db.bck.sql
**/htmlcov/

.DS_Store

# Other tests
**/.hypothesis
