html {
	color-scheme: light dark;
}

html.light {
	color-scheme: light;
}

html.dark {
	color-scheme: dark;
}

:root {
	/* Colors */
	--color-primary: light-dark(rgb(59 184 169 / 100%), rgb(74 207 191 / 100%));
	--color-on-primary: light-dark(rgb(250 250 249 / 100%), rgb(11 15 14 / 100%));
	--color-secondary: light-dark(rgb(81 96 95 / 100%), rgb(169 190 186 / 100%));
	--color-on-secondary: light-dark(
		rgb(250 250 249 / 100%),
		rgb(11 15 14 / 100%)
	);
	--color-error: light-dark(rgb(229 72 77 / 100%), rgb(255 111 115 / 100%));
	--color-on-error: light-dark(rgb(81 96 95 / 100%), rgb(11 15 14 / 100%));
	--color-surface: light-dark(rgb(81 96 95 / 100%), rgb(11 15 14 / 100%));
	--color-on-surface: light-dark(rgb(26 26 26 / 100%), rgb(231 242 241 / 100%));
	--color-surface-variant: light-dark(
		rgb(244 246 246 / 100%),
		rgb(26 37 35 / 100%)
	);
	--color-on-surface-variant: light-dark(
		rgb(81 96 95 / 100%),
		rgb(169 190 186 / 100%)
	);
	--color-outline: light-dark(rgb(212 222 221 / 100%), rgb(231 242 241 / 0.2));

	/* Fonts */
	--font-family:
		ui-sans-serif system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	/* Spacing */
	--spacing: 0.25rem;

	/* Font Weight */
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Letter Spacing */
	--tracking-tight: -0.025rem;
	--tracking-normal: 0rem;
	--tracking-wide: 0.025rem;
	--tracking-wider: 0.05rem;

	--space-xs: calc(var(--spacing) * 1.5);
	--space-sm: calc(var(--spacing) * 2);
	--space-md: calc(var(--spacing) * 3);
	--space-lg: calc(var(--spacing) * 4);
	--space-xl: calc(var(--spacing) * 6);
	--space-2xl: calc(var(--spacing) * 8);

	/* Font Scale */
	--font-size-hero: 3rem;
	--font-size-display: 2rem;
	--font-size-title: 1.5rem;
	--font-size-body: 1rem;
	--font-size-label: 0.875rem;
	--font-size-button: 1rem;
	--font-size-small: 0.5rem;

	/* Line heights */
	--line-height-display: 2.5rem;
	--line-height-title: 2rem;
	--line-height-body: 1.5rem;
	--line-height-label: 1.25rem;
	--line-height-small: 1rem;

	/* Radius */
	--radius-xs: 0.25rem;
	--radius-sm: 0.5rem;
	--radius-md: 0.75rem;
	--radius-lg: 1rem;
	--radius-xl: 1.75rem;
	--radius-full: 9999px;

	/* Layouts */
	--header-height: 64px;
	--sidebar-expanded: 235px;
	--sidebar-collapsed: 60px;
}
